{% extends "bbase.html" %}
{% block title %}ERROR 404 - Not Found!{% endblock %}
    <style type="text/css"><!--
    h1 {}
    h2 { font-size: 1.2em; }
    #page{
        background-color: #FFFFFF;
        width: 60%;
        margin: 24px auto;
        padding: 12px;
    }
    #header {
        padding: 6px ;
        text-align: center;
    }
    .status4xx { background-color: #C55042; color: #FFFFFF; }
    #content {
        padding: 4px 0 24px 0;
    }
    --></style>
{% block content %}
    <div id="page">
        <div id="header" class="status4xx">
            <h1>ERROR 404 - No se ha encontrado!</h1>
        </div>
        <div id="content">
            <h2>Ocurrió el siguiente error:</h2>
            <p>La URL solicitada no se encontró en este servidor.</p>
			<P>Por favor, compruebe la URL o póngase en contacto con el <!--WEBMASTER//-->webmaster<!--WEBMASTER//-->.</p>
        </div>
    </div>
{% endblock %}

