{% if paginator and page_obj %}
<div class="archive_pagination" id="pagination">
    {% ifnotequal paginator.page_range|length 1 %}
        {% for p in paginator.page_range %}
            {% if forloop.first %}<ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class=""><a href="?page=1">&laquo;</a></li>
                    <li class=""><a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a></li>
                {% endif %}
            {% endif %}
            <li class=" {% ifequal p page_obj.number %} {% endifequal %}"><a href="?page={{ p }}"{% ifequal p page_obj.number %} class="b c3"{% endifequal %}>{{ p }}</a></li>
            {% if forloop.last %}
                {% if page_obj.has_next %}
                    <li class=""><a href="?page={{ page_obj.next_page_number }}">&rsaquo;</a></li>
                    <li class=""><a href="?page={{ paginator.num_pages }}">&raquo;</a></li>
                {% endif %}
            </ul>{% endif %}
        {% endfor %}
    {% endifnotequal %}
</div>
{% endif %}