{% extends "base.html" %}


{% block select2 %}class="current_page_item"{% endblock %}


{% block content %}
<h1>Quienes somos</h1>

<p><b>L.U.G. Tucumán</b>  es una comunidad de Software Libre de la provincia de Tucumán (Argentina) que tiene como objetivo promover el uso de Software Libre y motivar a las personas a su utilización y participación del libre conocimiento. Brindamos asistencia técnica y asesoramiento al momento de elegir alguna distribución, o sobre software libre.</p>

<h2>Historia</h2>

<p>La creación del L.U.G. se remonta en aquella primera reunión oficial como LUG por el año 1999, en la antigua oficina de lo que actualmente es la empresa Tucumán Linux.</p>

<p>Esa reunión se concretó de boca en boca entre conocidos que estábamos dando los primeros pasos en Linux y otros que aún en aquella época eran más veteranos en el tema.El encuentro fue muy productivo porque en principio se escucharon algunas experiencias de los usuarios con las primeras distribuciones de Linux. A algunos les andaba bien. Otros tenían problemas para abrir el viejo StarOffice: "es muy lento". A otros simplemente les gustaba la idea de tener cada dos días un nueva versión de algún programa, mientras que a otras personas les parecía genial poder escuchar música y hacer otras cosas sin que se "entrecorte" la canción, etc.</p>

<p>Así pasó un buen tiempo y se creó un canal de IRC para difundir un poco más la comunidad Linuxera, el cual se denominó: #linuxtucuman (alojado en irc.dal.net). Este canal fue creado como una rama "oficial" del L.U.G. Tucumán, pero en un tiempo breve, este grupo llegó a ser más activo que el propio L.U.G., que al final terminó por hacer amigos a los miembros, hasta que este se fue disolviendo por las diferentes actividades de estos últimos.</p>

<p>Nuevamente juntando fuerzas para levantar el L.U.G. Tucumán que estaba inactivo hace tiempo, comenzaron las reuniones poco frecuentes que consistía más en "hacer sociales" que en concretar actividades u objetivos específicos.</p>

<p>Aquellos fueron tiempos en que había mucha tarea para hacer como grupo de usuarios de Linux, pero lo que faltaba justamente era tiempo. Varios miembros del L.U.G. trabajaban jornadas completas y solo unos cuantos estaban más "disponibles". Esto hacía difícil la organización, hasta que se comenzaron a sumar personas más jóvenes que disponian de ese tiempo para trabajar en el LUG.</p>

<p>Y a partir de ese momento, el LUG Tucumán empezó con actividades sociales, charlas técnicas, participación en eventos y reuniones mensuales, que hicieron lo que es hoy en día el LUG.</p>

<h2>Objetivos</h2>

<p>Este grupo de usuarios de Linux sigue la filosofía que llevó a Linux y a todo el proyecto GNU a lo que es hoy en día: compartir información (llámese código fuente, documentos, conocimientos, etc), por lo que nosotros nos planteamos el objetivo de promover esta libertad y difundir el software libre en general de la mejor manera posible.</p>

<p>En resumen, el objetivo del LUG es compartir información,
  experiencias, código fuente de los programas y también, por qué no,
  compartir experiencias personales y hasta hacer nuevas
  amistades.</p>

<h2>Sobre el sitio web</h2>

<p>Este sitio web en no sería nada sin la colaboración de todos los miembros del L.U.G. que aportaron ideas y opiniones antes de subir la idea. Hasta las extensas discusiones en la lista de correo sirvieron para el desarrollo y la permanente mejora del sitio.</p>

<p>Así que este esfuerzo es gracias a toda la comunidad de software
  libre de Tucumán y además a los desarrolladores de JoomlaSpanish por
  este excelente manejador de contenidos y a la gente de USLA por
  cedernos un espacio en sus servidores para alojar este sitio.</p>

<h2>Lista de correo</h2>

<p>Para contactarse con todos los miembros del LUG Tucumán, por favor suscríbase a la lista de correo oficial mediante <a href="https://listas.linux.org.ar/mailman/listinfo/tucuman-lst" target="_blank">este formulario</a></p>

<h2>Sala de chat</h2>

<p>Como todo grupo de usuario de software libre también contamos con un salón de chat para el debate en tiempo real de diversos temas relacionados.</p>

<blockquote>
Servidor: irc.freenode.net
Canal: #lugtucuman
</blockquote>

<h5>¡Los esperamos!</h5>
{% endblock %}

