{% extends "base.html" %}

{% block content %}
<div class="post">

  <!-- Post  -->
  <div class="post_title"><h1>{{ post.title }}</h1></div>
  {% load markup %}
  <div class="post_date">Escrito el {{ post.created }} por <a href="#">{{ post.author }}</a></div>
  <div class="post_body">{{ post.body|markdown }}</div>
  <div class="post_meta">
    Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
  </div>

</div>

<!-- Comments  -->
{% if comments %}
<h3 class="left">Comentarios</h3>
<p class="right"><a href="#comentario">Ingresa un comentario &#187;</a></p>
{% endif %}

<div class="clearer">&nbsp;</div>
{% load comments %}
{% get_comment_list for post as comment_list %}
<div class="comment_start"></div>
{% for comment in comment_list %}
    <div class="comment">
       {{ comment.comment }}
       (from <a href="#">{{ comment.user }}</a> - {{ comment.submit_date|timesince }} ago)
    </div>
{% endfor %}

{% get_comment_form for post as form %}

{% if user.is_authenticated %}
    <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    <p {% if field.errors %} class="error"{% endif %} {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                    {{ field.label }}
                    {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <input type="submit" name="post" class="submit-post" value="Comentar" />
    </form>
    {% else %}
    <form action="{% comment_form_target %}" method="post">{% csrf_token %}
      {{ form.as_p }}
      <tr>
        <td></td>
        <td><input type="submit" name="preview" class="submit-post" value="Vista previa"></td>
      </tr>
    </form>
{% endif %}

{% endblock %}

