{% extends "base.html" %}


{% block select3 %}class="current_page_item"{% endblock %}


{% block content %}
<h1>Recomendaciones y normas de convivencia</h1>

<p>Bienvenidos gente nueva y gente vieja pero olvidadiza del
  L.U.G. Tucumán . Estas son algunas cosas a tener en cuenta para
  postear en la lista, para que el contenido de la misma se condiga
  con la misión y valores del L.U.G. Tucumán. La idea es que nadie
  deje de postear algo importante por miedo a que no sea ontopic, y
  principalmente para que no se posteen cosas que son totalmente
  offtopic. Igual, si tenés una duda razonable, posteá, tampoco es el
  fin del mundo.</p>

<h2>Recomendaciones</h2>

<ul>
<li>Antes de enviar un correo a la lista, tomate un tiempo para buscar tu pregunta primeramente en algún buscador en internet y en el archivo de la lista. Quizás encuentres la solución en pocos minutos sin preguntar en la lista.</li>
<li>Utilizar un "Asunto" adecuado para el problema / pregunta que estás enviando a la lista. Algo que sea descriptivo en pocas palabras sobre qué vas a preguntar o informar.</li>
<li>Cuando respondas un correo, elimina el texto irrelevante (saludos, firmas, etc) para que se pueda seguir mejor el cuerpo del mensaje, y no ir de un lado al otro del correo buscando el texto interesante.</li>
<li>No utilizar Top-Posting para responder los correo de los otros, hay una explicación de porqué esto es bueno. Es recomendable utilizar Bottom-Posting para responder los correos.</li>
<li>Si respondés a un correo existente, no crees un correo nuevo, sino que es mejor crear una respuesta. De lo contrario, los que siguen los correos por hilos quizás no vean tu respuesta.</li>
<li>Si querés hacer una pregunta sobre algún tema que no se ha preguntado aún, crea un correo nuevo.</li>
<li>Es preferible utilizar mensajes en texto plano antes que en HTML. "La Campaña ASCII Ribbon" explica porqué esto es recomendable en la mayoría de los casos.</li>
<li>Escribir los correo respetando la ortografía y reglas de puntuación adecuadas para facilitar la lectura a los demás miembros.</li>
<li>Si hay un mensaje que te molesta en la lista, no respondas, ignóralo para no generar "ruido".</li>
<li>Leer atentamente el famoso paper de "Cómo hacer preguntas inteligentes."</li>
</ul>

<p>Lo anteriormente expuesto no son reglas, sino recomendaciones. Recomendaciones para mejorar la percepción sobre vos en la comunidad, ayudar a la misma y por lo tanto a sus integrantes. Pero no es que si un día hiciste top-posting, te van a bannear de la lista. No, no, cada loco con su tema.</p>

<p>Pero, obviamente, si rompés muchas de esas recomendaciones, la percepción del resto hacia vos será bastante pobre.</p>

<p>Hay que tener en cuenta que esas recomendaciones son un decante de
  buenas costumbres utilizadas por mucha gente por bastante tiempo: no
  son arbitrarias, no es un capricho nuestro.</p>

<h3>Claramente OFFTOPIC</h3

<ul>
<li>Consultas sobre software privativo (programas y sistemas operativos)</li>
<li>Temas filosóficos, politicos o religiosos, que probablemente tengan otras listas para discutirlos.</li>
<li>Mi pingüino me está estrangulando... qué hago?</li>
<li>Necesito un/a amigo/a.</li>
</ul>

<h3>Claramente ONTOPIC</h3>

<ul>
<li>Temas técnicos relacionados con el Software Libre.</li>
<li>Cursos, conferencias, eventos que organice y/o participe el L.U.G. Tucumán.</li>
<li>Búsquedas laborales.</li>
<li>Presentación de organizaciones, empresas etc que usan Software Libre.</li>
<li>Pedidos de ayuda o recomendaciones, ya sea para aprender desde 0, para llevar adelante un proyecto con Software Libre, o para esos casos donde simplemente no funciona algo.</li>
<li>Temas relacionados a las reuniones, el wiki, el funcionamiento de la lista de correo, el sitio, el foro, etc.</li>
</ul>

<p>Gracias PyAr!</p>
{% endblock %}
