<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Blueprint test pages</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <style type="text/css" media="screen">
      p, table, hr, .box { margin-bottom:25px; }
      .box p { margin-bottom:10px; }
    </style>
  </head>
  <body>


    <div class="container">
      <h1>Blueprint test pages</h1>
      <hr>

      <p>Welcome to the Blueprint test pages. The HTML files below tests most HTML elements, and especially classes provided
      by&nbsp;Blueprint.</p>

      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th class="span-6">Test page</th>
          <h1>Hola Mundo en django!</h1>
        </tr>
      </table>


      <p><a href="http://validator.w3.org/check?uri=referer">
        <img src="parts/valid.png" alt="Valid HTML 4.01 Strict" height="31" width="88" class="top"></a></p>

    </div>
  </body>
</html>

